@use '../helpers' as *;

.team {
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    padding-bottom: rem(100);

    &__button {
        align-self: end;
        min-width: rem(270);
    }

    &__button {
        @include mobile-s {
            width: 100%;
        }
    }

}